{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Style/style.css'%}">
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="home">
            <a href="{% url 'Home' %}">Home</a>
        </div>
        
        <div class="Login-buttons">
            {% if user.is_authenticated %}
            <h3>@{{user.username}}</h3>
            <a href="{% url 'Logout' %}" class="btn Logout">Logout</a>
            {% else %}
            <a href="{% url 'Login' %}" class="btn Login">Login</a>
            <a href="{% url 'Sign-in' %}" class="btn Sign-up">Sign In</a>
            {% endif %}
            
        </div>
    </nav>
    {% block content%}
    {% endblock %}
</body>
</html>