{% extends 'main.html' %}
{% load static %}
{% block content%}
<div class="product-container">
    {% if page == 'Edit_cart' %}
    <div class="product-image">
        <img src="{{ cart_product.product.image.url }}">
    </div>
    <div class="product-title">
        <h1>Title : {{ cart_product.product.title }}</h1>
    </div>
    <div class="product-category">
        <h2>Category : {{ cart_product.product.category }}</h2>
    </div>
    <div class="product-description">
        <p>Description : {{ cart_product.product.description }}</p>
    </div>
    <div class="product-price">
        <p>Price : {{ cart_product.product.price }}</p>
    </div>
    <form method="post" class="cart-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="quantity">Quantity : </label>
            {{ form.quantity }}
        </div>
        <input type="submit" name="submit" value="Confirm" class="Add-to-cart btn">
    </form>
    {% elif user.is_staff %}
    <div class="product-image">
        <img src="{{ product.image.url }}">
    </div>
    <div class="product-title">
        <h1>Title : {{ product.title }}</h1>
    </div>
    <div class="product-category">
        <h2>Category : {{ product.category }}</h2>
    </div>
    <div class="product-description">
        <p>Description : {{ product.description }}</p>
    </div>
    <div class="product-price">
        <p>Price : {{ product.price }}</p>
    </div>
    <div class="product-buttons">
        <a class="Edit btn" href="{% url 'Edit-Product' product.id %}">Edit</a>
        <a class="Delete btn" href="{% url 'Delete-Product' product.id %}">Delete</a>
    </div>
    {% else %}
    <div class="product-image">
        <img src="{{ product.image.url }}">
    </div>
    <div class="product-title">
        <h1>Title : {{ product.title }}</h1>
    </div>
    <div class="product-category">
        <h2>Category : {{ product.category }}</h2>
    </div>
    <div class="product-description">
        <p>Description : {{ product.description }}</p>
    </div>
    <div class="product-price">
        <p>Price : {{ product.price }}</p>
    </div>
    <div class="cart-form">
        <div class="form-group">
            <label for="quantity">Quantity : </label>
            <select class="product-qty" id="product-qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="button" value="{{ product.id }}" class="Add-to-cart btn" id="add-cart"
            data-url="{% url 'Add_cart' %}">Add to cart</button>
    </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $(document).on('click', '#add-cart', function (event) {
                event.preventDefault();
                console.log("Button Clicked");

                var product_id = $('#add-cart').val();
                console.log(product_id)

                var product_qty = $('#product-qty').val();
                console.log(product_qty)

                var url = $('#add-cart').data('url');

                var csrf = '{{ csrf_token }}';

                $.ajax({
                    type: 'POST',
                    url: url,
                    headers: {
                        'X-CSRFToken': csrf,
                    },
                    data: {
                        product_id: product_id,
                        product_qty: product_qty,
                        action: 'post'
                    },
                    success: function (json) {
                        console.log(json)
                        $('#cart-quantity').text(json.quantity);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error ocurred :", status, error)

                    }

                })

            })
        });
    </script>
</div>
{% endblock %}